<!doctype html>
<head>
    <title>Tom's Tax Calc</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class=page>
        <h1>Tom's Tax Calc</h1>
        <form class="form" action="home" method="post">
            <br>
            <label for="amount">Gross Income</label>
            <br>
            <input class="form-number" type="number" name="amount" value="" required>
            <br>
            <label for="hecs">HECS?</label>
            <input type="checkbox" name="hecs" checked=True>
            <br>
            <br>
            <input class="form-button" type="submit" value="Calculate Tax">
        </form>
        <br>
        <table>
            {% for message in get_flashed_messages() %}
            <tr>
                <th>{{ message.split(":")[0] }}</th>
                <td>{{ message.split(":")[1] }}</td>
                <td class="percent">{{ message.split(":")[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
